.add-todo {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    color: #fff;
    background-color: rgb(245, 188, 127);
    background-color: cutom-color;
    border-color: #2e4c80;
    border-color: cutom-cor;
    border: none;
}

.add-icon {
    font-size: 1.5em;
}

.add-todo:hover {
    background-color: rgb(209, 159, 106);
}

.add-todo::after {
    background-color: rgb(209, 159, 106);
}
