.App {
  text-align: center;
  margin-top: 15vh;
  /* border: 0px solid #1c6ea4; */
  border-radius: 10px !important;
  /* -webkit-box-shadow: 0px 0px 12px -6px #000000; */
  /* box-shadow: 0px 0px 12px -6px #000000; */
  min-height: 500px;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
